/* CSS Reset and whole page styles */

body, html, #root, .App {
  height: 100%;
}

body, html {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  background-color:slategrey;
}

.App {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 1, 28);
  padding: 1rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.App {
    background-color: transparent;
    padding: 0;
  }
}
